@model IEnumerable<H12Auth2C.Models.Flight>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.departureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.arrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plane.PlaneType.modelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departurePlaceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.arrivalPlaceId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.departureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.arrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plane.PlaneType.modelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departurePlace.AirportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.arrivalPlace.AirportName)
            </td>
            <td>
                <td>
                    <form method="post" action="TicketAdd">
                        <label for="SeatName">Seat Number:</label>
                        <select name="SeatName" id="SeatName">
                                @for (int i = 1; i <= item.Plane.PlaneType.Capacity; i++)
                                {
                                <option value="@i">Seat @i</option>
                                }
                        </select>
                        <input type="submit" value="Buy Ticket">
                    </form>
                </td>
            </td>
        </tr>
}
    </tbody>
</table>
