@model IEnumerable<WebProje.Models.Ticket>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight.departurePlace.City.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.arrivalPlace.City.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ticketType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.departurePlace.City.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.arrivalPlace.City.Name)
                </td>
                <td>
                    @if (item.ticketType == true)
                    {
                        <p>Business</p>
                    }
                    else
                    {
                        <p>Economy</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
