@model IEnumerable<H12Auth2C.Models.Ticket>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Flight.departurePlaceId)</th>
                <th>@Html.DisplayNameFor(model => model.Flight.arrivalPlaceId)</th>
                <th>@Html.DisplayNameFor(model => model.Flight.departureTime)</th>
                <th>@Html.DisplayNameFor(model => model.Flight.arrivalTime)</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>@Html.DisplayNameFor(model => model.SeatNumber)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="background-color:lightgray">
                        @Html.DisplayFor(modelItem => item.Flight.departurePlace.City.Name)<br>
                        @Html.DisplayFor(modelItem => item.Flight.departurePlace.AirportName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Flight.arrivalPlace.City.Name)<br>
                        @Html.DisplayFor(modelItem => item.Flight.arrivalPlace.AirportName)
                    </td>
                    <td style="background-color:lightgray">@Html.DisplayFor(modelItem => item.Flight.departureTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.Flight.arrivalTime)</td>
                    <td style="background-color:lightgray">@Html.DisplayFor(modelItem => item.User.UserAd)</td>
                    <td>@Html.DisplayFor(modelItem => item.User.UserSoyad)</td>
                    <td style="background-color:lightgray">@Html.DisplayFor(modelItem => item.SeatNumber)</td>

                </tr>

            }
        </tbody>
    </table>
</div>