@model IEnumerable<H12Auth2C.Models.Ticket>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight.departurePlaceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.arrivalPlaceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.departureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.arrivalTime)
            </th>
            <th>
                Adı
            </th>
            <th>
                Soyadı
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.departurePlace.City.Name)<br><br>
                    @Html.DisplayFor(modelItem => item.Flight.departurePlace.AirportName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.arrivalPlace.City.Name)<br><br>
                    @Html.DisplayFor(modelItem => item.Flight.arrivalPlace.AirportName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.departureTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.arrivalTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserAd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserSoyad)
                </td>
            </tr>
        }
    </tbody>
</table>
